{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="authorized-container">
            {% include "authorized/header.html" %}
            {% block authorized_context %}{% endblock %}
        </div>
    {% else %}
        <div class="not-logged-in-page flex-column">
            <p>You are not logged in</p>
            <a class="nav-link" href="{% url 'password_reset' %}">Password Reset</a>
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </div>
    {% endif %}
{% endblock %}