.navbar {
    height: 48px;
}
.navbar-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    position: relative;
    width: 100%;
}
.bi-person-circle {
    font-size: 20px;
}
.bi-person-circle:before,
.bi-list:before {
    color: #fff;   
}
.dropdown .dropdown-toggle:after {
    display: none;   
}
.menu-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button:active,
.menu-button:focus-visible {
    outline: none;
}
.dropdown {
    position: relative;
}
.logout-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}