.authorized-container {
    padding-top: 48px;
}
.posts-page,
.post-details-page {
    background-color: #f8f9fa;
}
.posts-page {
    display: flex;
}
.liked-posts {
    height: 50vh;
    margin-top: 30px;
    overflow-y: auto;
}
.liked-post {
    display: flex;
    flex-direction: column;
    gap: 4px;    
}
@media (max-width: 1024px) {
    .liked-posts {
        display: none;
    }
}
.posts-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.posts-page .left-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 16px;
}
.post-short-description {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.post-header {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.posts-header {
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: 64px;
}
.posts-header h3 {
    margin: 0;
}
.post-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}
.posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 32px;
    padding: 16px;
}
@media (max-width: 890px) {
    .posts-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.post-image {    
    margin-bottom: 8px;    
    height: 320px;
    width: 320px;
}
.post-image img {
    width: 100%;
}
.post-body {
    margin-bottom: 0;
}
.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.errorLabel {
    font-size: 12px;
    color: #e00;
}
.post-details-page .post-container {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
.post-author {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    text-align: left;
}
.post-author span {
    font-size: 12px;
}
.user-profile-container,
.new-post-container,
.tags-container {
    margin-top: 32px;
}
.post-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);      
}
.post-divider:last-of-type {
    display: none;
}
.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.post-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
}
.post-footer p {
    margin-bottom: 0;
    text-align: right;
}
.post-edit-link {
    text-align: right;
}
.like-button {
    border: 2px solid #F1ECEB;
    border-radius: 4px;
    height: 38px;
    max-width: 120px;
}
.bi-heart::before, 
.bi-heart-fill::before {
    color: #EA5DAF;
}