.authorized-container {
    padding-top: 48px;
}
.posts-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.post-header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
.posts-header {
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: 64px;
}
.posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 32px;
    padding: 16px;
}
.post-image {        
    height: 240px;
    width: 240px;
}
.post-image img {
    width: 100%;
}
.post-body {
    margin-bottom: 0;
}
.post-details .post-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
.post-author {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    text-align: left;
}
.post-author span {
    font-size: 12px;
}
.new-post-container,
.tags-container {
    margin-top: 32px;
}
.post-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);      
}
.post-divider:last-of-type {
    display: none;
}
.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.post-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.post-footer p {
    margin-bottom: 0;
    text-align: right;
}
.post-edit-link {
    text-align: right;
}
.like-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}