{% extends "home.html" %}

{% block authorized_context %}
    <header class="navbar fixed-top navbar-dark bg-dark">
        <div class="navbar-inner">
            <div class="dropdown">
                <button class="user-menu-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="user-profile">User profile</a>
                    <form class="dropdown-item" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="logout-button" type="submit">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}