{% extends "home.html" %}

{% block authorized_context %}
    <div class="posts-header">        
        <h3>Tags</h3>
    </div>
    <div class="container tags-container">
        <div class="mb-3 tags-form">
            <label class="form-label" for="title">Create new tag:</label>
            <input id="title" class="form-control" />
            <span class="errorLabel">{{ form.title.errors }}</span>
            <button type="button" id="create-tag-button" class="btn btn-primary create-new-tag-button">Create</button>
        </div>
        <div class="tags-wrapper" />
    </div>    
{% endblock %}